language: python

python:
  - "2.7"
  - "3.6"
  - "3.7"

install:
  - pip install -e .
  - pip install pytest gevent

script:
  - pytest -vv -s tests/

deploy:
  provider: pypi
  user: xiachufang
  skip_existing: true
  password:
    secure: TTnjHAfOmqowL0hikcshbtpakZqbke0u6W4DvLe7a83uoaVaN1BX3L79DNErvTZ6likclorUn+zhlQhFuliBGQcNoS3fX59yQuk6LNrhGOuN/VqWN7Ty9+t/uBsGOEkekURIO+SVnHhx3FtTWzaqPQl/IMFWP5s7oE5U9P4wo7lPNuxZvwQLhWAbSHM9coVgsXU3erN2KDr2jypTIMhVVhB398NeVl7uYzjFVVlv3mq19GDD1ZgPlLsls6m4cMEGbqRv+mBwBoEBfL0o5vemtT8y/MkZagGyWnhwi3JbfAFZHTk1XWFjDE/6nGQathG96gm5xuFBqyYjCEFR3YatCu82oIn5sjaeZW2T8wlchpCw6jobBPaCNfMXrzrvjfIkFdS7q+Ib0SFnAo2xsPBCFaxWsIugL3bm52cm+cAUSvGFWvDlK+8W4L9PmUNrWa/c0C26vZCR1BZiVJI0XI9FHeD9ma8WiWY0gj4prOLcNder04s/RTLPOphh3MN2ftYbg+3n7m7EsMqxCvKfNxVbBJGhr2W6FCVp3l0RcDm4jeFREPbQM1ee14T9hVUsVat67dOc2fI5z9gcQ0w7i0UOp9Ss1mJK9Dwe4vMqmbTTMZS0kdqS7UDoNjvquZEvDPit0Ym5UcE+mxThIzL4b9vrnfMWo9CZFGRqRnbwqBTLKms=
  on:
    repo: xiachufang/outplan
    tags: true
