on:
  push:
    branches:
      - master

name: release please
jobs:
  release-please:
    runs-on: ubuntu-20.04
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v2
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: python
          package-name: outplan

      - uses: actions/checkout@v3
        if: ${{ steps.release.outputs.release_created }}

      - name: Publish / Prepare python
        if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Publish / Install deps
        if: ${{ steps.release.outputs.release_created }}
        run: >-
          python -m
          pip install
          build
          --user

      - name: Publish / Build
        if: ${{ steps.release.outputs.release_created }}
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
          .

      - name: Publish / Push to PyPI
        if: ${{ steps.release.outputs.release_created }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: "${{ secrets.PYPI_API_TOKEN }}"
          verbose: true
